<div class="col-md-4 col-md-offset-4">
  <div class="card">
    <img class="logo m-b-30" alt="Funx" src="<%= asset_path 'logo.png' %>" height="60">
    <p></p>
    <strong>Total items : </strong>
    <%= Item.all.size %>
    <p></p>
    <strong>Total categories : </strong>
    <%= Category.all.size %>
    <p></p>
    <strong>Total comments : </strong>
    <%= Comment.all.size %>
    <p></p>
    <strong>Total likes : </strong>
    <%= Like.all.size %>
    <p></p>
    <strong>Total Users : </strong>
    <%= User.all.size %>
    <p></p>
    <strong>Get data from : </strong> https://www.teleton.cl/feed/?json
    <p></p>
    <%= form_tag new_data_path, method: 'post' do |f| %>
      <div class="form-group">
      <label class="control-label text-left">Url</label>
      <%= text_field_tag :url, nil, :required => true, class: "form-control" , placeholder: "put a valid url" %>
      </div>
      <div class="form-actions">
      <%= submit_tag "Send", class: "btn btn-primary pull-left" %>
      </div>
    <% end %>
    <%= link_to "Create Random user", users_path, :method => :post, class: "btn btn-danger pull-left" %>
    <%= link_to "All users", users_path, class: "btn btn-success pull-left" %>
    <%= link_to "Instructions", instructions_path, class: "btn btn-warning pull-left" %>
    
  </div>
</div>
