<div class="col-md-4 col-md-offset-4">
  <div class="card">
    <img class="logo m-b-30" alt="Funx" src="<%= asset_path 'logo.png' %>" height="60">
    <center><h3>Instructions</h3></center> 
    Put a valid teleton url in the input url and then press Send to get items in to the system.
    <p></p>
    <strong>To list all items just use get to this url : </strong> http://localhost:3000/api/v1/items/
    <p></p>
    <strong>To create a comment use a post method to this url : </strong> http://localhost:3000/api/v1/comments/ . with content and item_id
    as minimum params add user_id to regiter author.
    <p></p>
    <strong>To create a like use a post method to this url : </strong> http://localhost:3000/api/v1/likes/ . with comment_id
    as minimum params add user_id to regiter author.
    <p></p>
    <%= link_to "Go to Home", root_path, class: "btn btn-success" %>
  </div>
</div>